h1, .fpost .entry-title {
  font-size:50.6px;
  color: red;
}


h2 {
  font-size: 14px;
}


audio{
  display:block;
  margin:auto;
}

.productos { color: green; }

.visual {   display:block; margin:auto; }

#enviar { color: yellowgreen; }

#fundacion { color: orange; }

div{ background-color:#dddddd; }

div a{
    background-color:#009cde;
    color:#ffffff;
    text-decoration:none;
}